<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eestudy.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.eestudy.model.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="photo" property="photo"/>
        <collection property="list" columnPrefix="a_"
                    resultMap="com.example.eestudy.dao.ArticleMapper.BaseResultMap">
        </collection>
    </resultMap>

    <insert id="add" parameterType="com.example.eestudy.model.User"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into user(username,password,photo) values (#{username},#{password},#{photo})
    </insert>

    <insert id="addArticle">
        insert into article(title,content,uid
        <trim prefix="," suffixOverrides=",">
            <if test="count!=0">count,</if>
            <if test="state!=0">state,</if>
        </trim>)values(
                #{title},#{content},#{uid}
                <trim prefix="," suffixOverrides=",">
                    <if test="count!=0">#{count}</if>
                    <if test="state!=0">#{state}</if>
                </trim>
        )
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from user where id = #{id}
    </delete>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.example.eestudy.model.User">
        select * from user where id=#{id}
    </select>

    <select id="selectByNameAndPassword" parameterType="java.lang.String" resultType="com.example.eestudy.model.User">
        select * from user where username=#{username} and password=#{password}
    </select>

    <select id="getAll" resultType="com.example.eestudy.model.User">
        select * from user;
    </select>

    <select id="findByName" resultType="com.example.eestudy.model.User">
        select * from user where username like concat('%',#{username},'%')
    </select>
    <select id="getFullUser" resultMap="BaseResultMap">
        select u.*,a.id a_id,a.title a_title,a.content a_content,a.createtime a_createtime
        from user u left join article a on a.uid=u.id where u.id=#{id}
    </select>
    <select id="login" resultType="com.example.eestudy.model.User">
        select * from user where username = #{username} and password = ${password}
    </select>

</mapper>